<form editable-form name="editableForm" onaftersave="ctrl.editProvider(provider.id)">
  <div>
    <span class="location">Location: </span>
    <span editable-text="provider.location" e-name="location" e-required>
      <a ng-click="ctrl.goToLocation(provider.location)">
        {{ provider.location || 'empty' }}</a>
      </span>
  </div> 
  <div>
    <p>Expect to pay: {{ provider.price }}</p>
      <p> 
        {{ provider.rating }} people have recommended this provider. 
        <button type="button" class="btn btn-primary btn-xs" ng-click="ctrl.decrementRating(provider.id)">-1</button>
        <button type="button" class="btn btn-primary btn-xs" ng-click="ctrl.incrementRating(provider.id)">+1</button>

      </p> 
    <!-- button to show form -->
    <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
      Edit
    </button>
    <!-- buttons to submit / cancel form -->
    <span ng-show="editableForm.$visible">
      <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
        Save
      </button>
      <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
        Cancel
      </button>
    </span>
  </div>
</form>  

