<div ui-view></div>

<div ng-show="ctrl.showHome()">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
      <h2>Search Providers</h2>
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" ng-model="queryTerm" class="form-control input-lg" placeholder="Enter provider name" />
            <span class="input-group-btn">
              <button type="submit" ng-click="ctrl.search()" class="btn btn-info btn-lg">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" ng-repeat="provider in ctrl.providers | searchFor:queryTerm">
    <div class="bs-calltoaction bs-calltoaction-info">
      <div class="row">
        <div class="col-md-9 cta-contents">
          <h1 class="cta-title">{{ provider.name }}</h1>
            <div class="cta-desc">
              <div ui-view="more"></div> 
            </div>
          </div>
        <div class="col-md-3 cta-button">
          <a ui-sref="home.provider({id: provider.id})" class="btn btn-lg btn-block btn-info">More</a>
          
        </div>
      </div>
    </div>
  </div>

</div>