<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">OpenHealth</a>
      </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ui-sref="home" ui-sref-active="active">Home</a></li>
          <li><a href="#" ui-sref="home.about" ui-sref-active="active">About</a></li>
          <li><a href="#" ui-sref="home.new" ui-sref-active="active">Add Provider</a></li>
          <li><a href="#" ui-sref="home.providers" ui-sref-active="active">Providers</a></li>
        </ul>
    </div>
  </nav>
</header>
<div ui-view></div>

<div ng-show="ctrl.showHome()">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
      <h2>Search Providers</h2>
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" placeholder="Enter provider name" />
            <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>