<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">OpenHealth</a>
      </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ui-sref="home" ui-sref-active="active">Home</a></li>
          <li><a href="#" ui-sref="home.about" ui-sref-active="active">About</a></li>
          <li><a href="#" ui-sref="home.new" ui-sref-active="active">Add Provider</a></li>
          <li><a href="#" ui-sref="home.providers" ui-sref-active="active">Providers</a></li>
        </ul>
    </div>
  </nav>
</header>
<div ui-view></div>

<div ng-show="ctrl.showHome()">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
      <h2>Search Providers</h2>
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" ng-model="queryTerm" class="form-control input-lg" placeholder="Enter provider name" />
            <span class="input-group-btn">
              <button type="submit" ng-click="ctrl.search()" class="btn btn-info btn-lg">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>

  <ul>
    <li ng-repeat="i in ctrl.providers | searchFor:queryTerm">
      <p>{{i.name}}</p>
    </li>
  </ul>

  </div>
  
  <div class="container">
      <div class="bs-calltoaction bs-calltoaction-info">
        <div class="row">
            <div class="col-md-9 cta-contents">
                <h1 class="cta-title">Its a Call To Action</h1>
                <div class="cta-desc">
                    <p>Describe the action here.</p>
                    <p>Describe the action here.</p>
                    <p>Describe the action here.</p>
                </div>
            </div>
            <div class="col-md-3 cta-button">
                <a href="#" class="btn btn-lg btn-block btn-info">Go for It!</a>
            </div>
         </div>
    </div>
  </div>













</div>