<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">OpenHealth</a>
      </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
          <li><a ui-sref="home.about" ui-sref-active="active">About</a></li>
          <li><a ui-sref="home.register" ui-sref-active="active">Register</a></li>
          <li><a ui-sref="home.new" ui-sref-active="active">Add Provider</a></li>
        </ul>
    </div>
  </nav>
</header>